<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <base href="/" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/public/styles/form.css" type="text/css" />

    <title>New Item for Wishlist</title>
  </head>

  <body>
    <%- include('partials/_header') %>

    <main style="margin: 1em; display: flex; place-content: center">
      <div
        class="form-group"
        style="display: flex; flex-direction: column; justify-content: center"
      >
        <h3 style="display: flex; justify-content: center">
          Add to your Wishlist!
        </h3>
        <form
          class="form-inline"
          action="/wishlist"
          method="POST"
          style="border: 1px solid black; padding-bottom: 5%"
        >
          <div
            class="create-item"
            style="display: flex; flex-direction: column"
          >
            <input
              class="form-control"
              type="text"
              name="longURL"
              placeholder="item"
              style="width: 300px; margin: 1em"
            />

            <input
              class="form-control"
              type="text"
              name="description"
              placeholder="Description"
              style="width: 300px; margin: 1em"
            />

            <input
              class="form-control"
              type="text"
              name="price"
              placeholder="Enter a Price"
              style="width: 300px; margin: 1em"
            />

            <input
              class="form-control"
              type="text"
              name="link"
              placeholder="Enter the link"
              style="width: 300px; margin: 1em"
            />

            <input
              class="form-control"
              type="text"
              name="img"
              placeholder="Enter an Image URL"
              style="width: 300px; margin: 1em"
            />
            <br />
            <button type="submit" class="btn1" style="align-self: center">
              Submit
            </button>
          </div>
        </form>
      </div>
    </main>
    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
